numpy>=1.22.0
pandas>=1.5.3
grpcio>=1.60.0
grpcio-tools>=1.60.0
protobuf>=4.25.0
openpyxl==3.1.5
scikit-learn==1.5.2
matplotlib==3.9.2
seaborn==0.12.2
folium==0.14.0
polyline==1.4.0
loguru>=0.6.0
pymoo>=0.6.0